.cart-menu {
  position: absolute;
  z-index: 2;
  top: 30px;
  left: -300px;
  background-color: var(--bg-cart-menu);
  width: 400px;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: "0px 20px 8px rgba(76, 95, 120, 0.6), 0px 3px 1px rgba(76, 95, 120, 0.1)";
}

.cart-menu__arrange {
  margin-top: 20px;
  padding: 20px 0;
  border-top: 1px solid var(--border-color);
}

.cart-menu__total-price {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}


