.btn {
  border-radius: 15px;
  color: var(--text-color);
  padding: 5px;
}

.btn--primary {
  background-color: var(--bg-btn-primary);
}

.btn--secondary {
  background-color: var(--bg-btn-secondary);
}

.btn--small {
  size: 14px;
}

.btn--medium {
  size: 18px;
}
