.filter-form {
  border-bottom: 1px solid var(--border-form);
  padding-bottom: 30px;
}

.search-input {
  background-color: var(--bg-search);
  border: none;
  padding: 10px;
  min-width: 30%;
  margin-right: 30px;
  color: var(--text-color);
}

.search-input::placeholder {
  color: var(--search-color);
}

.search-label {
  color: var(--text-color);
}

.in-whish-list-checkbox {
  margin-right: 5px;
}
