* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --text-color: #fff;
  --secondary-text-color: rgb(195, 201, 207);
  --search-color: rgba(255, 255, 255, 0.397);
  --bg-color: rgb(26, 26, 28);
  --bg-btn-primary: rgb(85, 88, 237);
  --bg-btn-secondary: rgb(88, 82, 84);
  --bg-cart-menu: rgb(50, 54, 70);
  --bg-genre: rgb(80, 82, 84);
  --bg-game-item: rgb(36, 37, 41);
  --bg-game-row: rgba(43, 43, 43, 0.3);
  --bg-search: rgb(30, 48, 102);
  --border-color: rgba(255, 255, 255, 0.4);
  --border-form: #8789f4;
  --error-color: red;
}

.App {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 40px;
  color: var(--text-color);
}

#app {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osk-font-smoothing: grayscale;
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.4;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
}

.secondary-text {
  color: var(--secondary-text-color);
}
